# Arquivos e pastas gerados pelo build
build/
*.apk
*.ap_

# Arquivos de configuração local
local.properties

# Arquivos contendo chaves de API
secrets.properties

# Arquivos temporários do IDE
.gradle
.idea/
*.iml
.DS_Store
/captures
.externalNativeBuild